:root {
  --primary-color-1: #090720;
  --primary-color-2: #080d20;
  --primary-color-1-rgb: 171,70,236;
  --primary-color-2-rgb: 38,116,232;
  --secondary-color-1: #392fc4;
  --secondary-color-2: #533cd8;
  
  --dark-mode-color-1: #171635;
  --dark-mode-color-2: #1d1c3d;
  --dark-mode-color-3: #100f28;
  
}